:root { 
    --bg: #0f2027;
    --card: #1e3c59;
    --text: #fff;
    --highlight: #f9d342;
}

body{   
    margin: 0;
    font-family: 'Segoe UI' sans-serif;
    background: var(--bg);
    color: var(--text);
}

.theme-toggle { 
    text-align: right;
    padding: 15px 25px;
}

#toggleBtn{ 
    padding: 8px 16px;
    background: var(--highlight);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.container{ 
    padding: 20px;
    text-align: center;
}

h1{ 
    font-size: 3rem;
    margin-bottom: 30px;
    color: var(--highlight);
}

.gallery{   
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(230px, 1fr));
    gap: 25px;
}

.card{  
    background: var(--card);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease; cursor: pointer;
}

.card:hover{    
    transform: scale(1.05);
}

.card img{  
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.card h2{   
    padding: 10px;
    font-size: 1.2rem;
    color: var(--highlight);
}

/* Modal Styles */
.modal {    
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content{ 
    background: var(--card);
    color: var(--text);
    padding: 20px;
    max-width: 400px;
    text-align: center;
    border-radius: 12px;
    position: relative;
}

.modal-content img{ 
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.close{ 
    position: absolute;
    top: 10px; right: 15px;
    font-size: 28px;
    cursor: pointer;
    color: var(--highlight);
}

/* Light Theme */
.light{ 
    --bg: #f1f1f1;
    --card: #ffffff;
    --text: #222;
    --highlight: #2c5364;
}

/* menue styles */

#menu {    
    width: 100%;
    height: 40px;
    padding-top: 12px;
}

#menu a{    
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{  
    color: #f9d342;
}